body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

:root {
  --brand-color-blue: #2196f3;
  --brand-color-grey: #757575;
  --white-tekst: #fff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --header-border: #ececec;
  --img-shadow-first: #0000001f; /* 0.12 opacity */
  --img-shadow-second: #00000024; /* 0.14 opacity */
  --img-shadow-third: #00000033; /* 0.2 opacity */
  --button-shadow-hover-first: #0000001a; /* 0.1 opacity */
  --button-shadow-hover-second: #00000014;
  --grid-shadow-second: #0000000f;
  --grid-shadow-third: #00000029; /* 0.16 opacity */
  --grid-border: #eee;
  --overlay: #2f303a66;
  --icon-color: #afb1b8;
  --icon-color-footer: #ffffff1a;
  --overlay-what-we-do: rgba(47, 48, 58, 0.8);
  --default-time: 250ms;
  --default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --img-overlay-portfolio: rgba(33, 150, 243, 0.9);
  --newsletter-border: rgba(255, 255, 255, 0.3);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --icons-form-color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h3 {
  color: #212121;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
.ws-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 93px;
}
button:focus,
button:hover {
  background-color: var(--brand-color-blue);
  color: var(--white-tekst);
  box-shadow: 0px 3px 1px var(--button-shadow-hover-first),
    0px 1px 2px var(--button-shadow-hover-second),
    0px 2px 2px var(--img-shadow-first);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.web {
  color: #2196f3;
}

a.nav-links:link {
  color: #212121;
}
a.nav-links:visited {
  color: #212121;
}
a.nav-links:hover {
  color: #2196f3;
}
a.nav-links:active {
  color: #212121;
}

a.contact-links:link {
  color: #757575;
}
a.contact-links:visited {
  color: #757575;
}
a.contact-links:hover {
  color: #2196f3;
}
a.contact-links:active {
  color: #757575;
}

.contact-icon:hover {
  fill: #2196f3;
}

a.nav-links.is-active::after {
  content: "";
  display: block;
  position: relative;
  top: 25.5px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  color: #212121;
}

a.nav-links.portfolio::after {
  content: "";
  display: block;
  position: relative;
  top: 25.5px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: url("../images/background.jpg");
  position: relative;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  margin-bottom: 94px;
}

.title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding-bottom: 30px;
}

h1 {
  display: flex;
  max-width: 696px;
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: #ffffff;
  padding-top: 200px;
}

.order-button {
  display: flex;
  justify-content: center;
}

.button-main {
  /* bg */
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}

.title-lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-lorem {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.box {
  line-height: 171%;
  color: #757575;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}

.about-us-title {
  background-color: #2f303acc;
  width: 100%;
  height: 70px;
  position: relative;
  top: -74px;
}

.about-us-text {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 27px;
  z-index: 1;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.about-us-img {
  width: 370px;
  height: 294px;
}

.our-team {
  width: 1600px;
  background-color: #f5f4fa;
}

.our-team-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card {
  display: block;
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-icon {
  display: flex;
  justify-content: space-around;
  width: 206px;
  height: 56px;
  margin-left: 32px;
  gap: 10px;
  fill: #afb1b8;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.social-media-icons:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  margin-bottom: 94px;
}

.our-clients {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 94px;
}

.clients-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-logo:hover {
  border-color: #2196f3;
  border-radius: 4px;
}

.clients-logo:hover {
  fill: #2196f3;
}

.footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  padding-top: 60px;
  margin: 0px;
}

.footer-main {
  display: flex;
  justify-content: flex-start;
}

.address-footer {
  display: block;
  justify-content: flex-start;
  margin-right: 70px;
}

.footer-top-line {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-location {
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer-contact {
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-contact-mail {
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.join-us-footer {
  display: block;
}

.footer-social-media {
  display: flex;
  gap: 10px;
}

.social-media-icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-media-icons-footer:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.input-send {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.newsletter-input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid var(--newsletter-border);
  border-radius: 4px;
  padding-left: 16px;
}

.footer-newsletter {
  padding-left: 72px;
}

.button-main-page {
  background-color: var(--brand-color-blue);
  color: var(--white-tekst);
  font-weight: 700;
  line-height: 1.875;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-newsletter {
  fill: var(--white-tekst);
  margin-left: 24px;
}
.footer-inscription {
  text-transform: uppercase;
  line-height: 1.1428em;
  font-size: 14px;
  color: #fff;
}

button {
  cursor: pointer;
  font-size: 16px;
  background-color: var(--background-light);
  font-weight: 500;
  line-height: 1.625;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.form-style {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-input:focus {
  outline: 1px solid var(--brand-color-blue);
  transition-property: outline;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.form-input:focus + svg {
  fill: var(--brand-color-blue);
  transition-property: fill;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.join-us-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.button-portfolio {
  height: 38px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
}

a.button-portfolio:link {
  background-color: #f5f4fa;
  color: #212121;
}
a.button-portfolio:visited {
  background-color: #f5f4fa;
  color: #212121;
}
a.button-portfolio:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
a.button-portfolio:active {
  background-color: #2196f3;
  color: #ffffff;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.project-card:hover,
.project-card:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-image-overlay {
  width: 370px;
  height: 294px;
  background-color: #2196f3e6;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-image-overlay-text {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}

.project-card:hover .card-image-overlay {
  transform: translateY(0);
}

.card-border {
  justify-content: flex-start;
  height: 110px;
  width: 370px;
  border: #eeeeee 1px solid;
  border-top: none;
  margin: 0 auto;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}

.project-description {
  font-size: 16px;
  line-height: 188%;
  color: #757575;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15 0 15;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.team-main {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 93px;
}
.menu-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 46px;
  padding-top: 32px;
  margin-left: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 254px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
}

.contacts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 30px;
}

.contacts-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  row-gap: 30px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts-item {
  display: flex;
  padding-right: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.lorem-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 94px;
}

.contact-links:hover {
  fill: #2196f3;
}

.our-work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}

.team-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card-name {
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.portfolio-container {
  width: 572px;
  padding-top: 94px;
  padding-bottom: 34px;
  margin: 0 auto;
}

.position-name {
  color: #757575;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
div {
  display: block;
}
.portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0px 22px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 94px;
}

.button-main-page {
  background-color: var(--brand-color-blue);
  color: var(--white-tekst);
  font-weight: 700;
  line-height: 1.875;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--img-shadow-third);
  display: flex;
  transition-property: opacity, scale, visibility;
  transition-duration: 1s;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-tekst);
  box-shadow: 0px 1px 3px var(--img-shadow-first),
    0px 1px 1px var(--img-shadow-second), 0px 2px 1px var(--img-shadow-third);
  border-radius: 4px;
}

.modal-button {
  all: unset;
  position: absolute;
  margin: 8px 0 0 490px;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-box {
  position: relative;
}

.input-icons input {
  width: 448px;
  height: 40px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 0 0 0 42px;
  display: block;
}

.input-icons textarea {
  width: 448px;
  height: 120px;
  background-color: inherit;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  display: block;
}

form h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 23px;
  margin-bottom: 2px;
  font-style: 700;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--brand-color-grey);
  margin: 10px 0 4px 0;
  display: flex;
}

.checkbox-label {
  margin: 20px 0 30px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-label a {
  text-decoration: underline;
  color: var(--brand-color-blue);
}

.checkbox-icon {
  position: absolute;
  fill: var(--white-tekst);
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility, scale;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
  scale: 0;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  visibility: visible;
  background-color: var(--brand-color-blue);
  scale: 1;
}

.checkbox-hidden:checked ~ .checkbox-icon-unchecked {
  scale: 0;
}

.checkbox-icon-unchecked {
  position: absolute;
  scale: 1;
  transition: scale, 0.2s;
}

.checkbox-text {
  margin-left: 8px;
}

.checkbox-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  z-index: 10;
}

.input-icons svg {
  position: absolute;
}

.icons-form {
  top: 32px;
  left: 15px;
  fill: var(--icons-form-color);
}

.icon-checkbox {
  margin-left: 15px;
}

.form-input:focus {
  outline: 1px solid var(--brand-color-blue);
  transition-property: outline;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}

.form-input:focus + svg {
  fill: var(--brand-color-blue);
  transition-property: fill;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}
.checkbox-label {
  margin: 20px 0 30px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--brand-color-grey);
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-label a {
  text-decoration: underline;
  color: var(--brand-color-blue);
}

.checkbox-icon {
  position: absolute;
  fill: var(--white-tekst);
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility, scale;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
  scale: 0;
}

.checkbox-hidden:checked ~ .checkbox-icon {
  visibility: visible;
  background-color: var(--brand-color-blue);
  scale: 1;
}

.checkbox-hidden:checked ~ .checkbox-icon-unchecked {
  scale: 0;
}

.checkbox-icon-unchecked {
  position: absolute;
  scale: 1;
  transition: scale, 0.2s;
}

.checkbox-text {
  margin-left: 8px;
}

.checkbox-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  z-index: 10;
}
